{% extends "base.html" %}
{% block title  %} Ссылка на востоновление пароля будет отправлена {% endblock %}
{% block content %}

<div class="row justify-contest-center">
    <div class="col-md-8 p-5">
        <div class="card">
            <div class="card-header">Ссылка на востоновление пароля отправлена</div>
            <div class="card-body">
                <p>Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}