<!DOСTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
  </head>
  <body>
    <h1>РОБИНСБАСКИН</h1>
    <img src="https://www.xn--80ahciglbiklic9aa.xn--p1ai/thumb/2/URdqSpYrvIXJKuAs1lHr_g/230c230/d/baskin_robbins.jpg">
    <a href="/icecream/" style="font-size: 30px;">К списку мороженого</a>
  </body>
</html>
