{% extends "base.html" %}
{% block title  %}Список мороженого {% endblock %}
{% block content %}
            <h2>Cписок сортов мороженого</h2>
            <div class="d-flex flex-wrap">
                {% for i in icecream %}
                <div class="card p-2 m-3" style="width: 18rem ;"> 
                    {% load thumbnail %}
                    {% thumbnail i.avatar "300x300" upscale=True as im %}
                        <img src="{{ im.url }}" alt="" class="card-img-top">
                    {% endthumbnail %}
                    <div class="card-body">
                        <h5 class="card-title">{{ i.name }} </h5>
                        <p class="card-text"> {{ i.desc }} </p>
                        <a href='{{ i.pk }}' class="btn btn-primary"> Подробнее </a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="alert alert-primary">
                <a href="/">На главную</a>
            </div>
{% endblock %}